@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
/*
=============== 
Variables
===============
*/



:root {
  /* ### Primary*/
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark: hsl(0, 0%, 27%);
  /* ### Font*/
  --font-size: 12px;
  --margin-left: 104px;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Spartan', sans-serif;
  background: var(--white);
}

h1 {
  font-weight: 600;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: var(--font-size);
  color: var(--dark-gray);
  text-align: left;
}


.main-header {
    width: 100%;
    position: absolute;
    top: 48px;    
    background: transparent;
    padding: 0rem 24px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;

}

.main-header > div {
    vertical-align: middle;
}

.main-header__brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    padding-right: 2rem;
    position: absolute;
    top:-8px;
    left:160px;   
    transition: all 1000ms cubic-bezier(1,.02,0,1.01);
    opacity: 1;
    transform: translateX(0%);
}

.main-nav {
    display: none;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.main-nav__item {
    margin: 0rem 1.5rem;
}

.main-nav__item a {
    text-decoration: none;
    font-size: 0.7rem;
    color: var(--white);
    font-weight: 500;
    padding: 5px 0;
    cursor: pointer;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  border-bottom: 3px solid white;
}

.mobile-nav {
    display: flex;
    position: absolute;  
    z-index: 101;
    top: -57px;
    left: 0;
    background: var(--white);
    width: 100%;
    height: 100px;
    align-items: center; 
    transform: translateY(-100%);
    transition: transform 500ms cubic-bezier(1,.02,0,1.01);
  }

  .open-enter-done{
    transform: translateY(0%);
  }
  
  .mobile-nav__items { 
    display: flex; 
    position: absolute;
    top:35px;
    list-style: none;
    margin: 6px 1rem;
    padding: 0;
    text-align: center;
    text-decoration-style: none;
  }

  .mobile-nav__item:first-of-type{
    padding-left: 3rem;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;  
  }
  
  .mobile-nav__item a {
    font-size: 12px;
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    padding: 3px 0.7rem;
  }

  .toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    z-index: 1;
    text-align: left;
  }
  
  .toggle-button:focus {
    outline: none;
  }

  .header-button{
    z-index: 300;
  }
  



/*  global classes */

.img-mobile {
  display: block;
  width: 100%;
  height: auto; 
  object-fit: fill;
  border: none;
  height: auto;
  overflow: hidden;
}

.img-desktop {
  display: none;
  width: auto;
  height: auto; 
  object-fit: contain;
  border: none;
  height: auto;
  overflow: hidden;
}



  

  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
    text-align: left;
  }
  body {
    font-size: 1rem;
  }

  .section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }


  .section-top {
    margin: 0;
    width: 100vw;
    height: 720px;
    display: block;
    overflow: hidden;
  }


.section-bottom {
  width: 100%;
  max-height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position:relative;
  }


.section-top-image{
  margin: 0;
  width: 100%;
  height: 100vw;
  max-height: 360px;
  position: absolute;
  overflow: hidden;
  }

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  opacity: 0;
  transition: var(--transition);
  }

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
  }
article.lastSlide {
  transform: translateX(-100%);
  }
article.nextSlide {
  transform: translateX(100%);
  }

.section-top-description {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 360px;
  margin: 0 32px;
  max-height: none;
}

.section-top-description-text{
  display: block;
  width:100%;
  margin-bottom: 1rem;
}



.title {
  vertical-align: middle;
  line-height: 2rem;
  text-align: left;
  width: 90%;
  display: flex;
  margin-top: 15%;
  color: var(--black);
  margin-left: none;
}

.text {
  width: 90%;
  display: flex;
  color: var(--dark-gray);
  margin-top: 20px;
  margin-left: none;
  line-height: 1.2rem;
  padding-bottom: 56px;
}

.link{
  letter-spacing: 0.2rem;
  margin-top: 32px;
  margin-left: none;
  color: var(--very-dark);
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
  

}

.link img{
  padding-left: 1rem;
  fill:var(--dark-gray);
}

.link:hover{
  letter-spacing: 0.7rem;

}

.link a {
  text-align: left;
}

.button-container-mobile{
  width: 100%;
  display: flex;
  position: absolute;
  top: calc(100vw - 70px);
  z-index: 3;
  justify-content: flex-end;
}

.button-container{
  display: none;
}


.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}
.prev,
.next {
  /* position: relative;
  top: calc(100% - 2rem);
  transform: translateY(-50%); */
  background: var(--black);
  color: var(--white);
  width: 56px;
  height: 56px;
  place-items: center;
  border-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transition);
  font-weight: 500;
}
.prev:hover,
.next:hover {
  background: var(--very-dark);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

.prev:focus {
  border: none;
  outline: none;
}
.next:focus {
  border: none;
  outline: none;
}

.section-bottom-left{
  margin: 0;
  width: 100%;
  position: relative;
  display: flex;
  overflow: none;
}

.section-bottom-left img,
.section-bottom-right img{
  width: 100%;
  max-width: 420px;
  height: auto;
}

.section-bottom-middle{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  overflow: none;
}

.section-bottom-middle-text{
  margin: auto;
  height: 100%;
  padding:32px;
  width: 100%;
  color: var(--dark-gray);
  line-height: 1.2rem;
}

.section-bottom-middle-text h4{
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  padding-bottom: 1rem;
  color: var(--black);
}


.section-bottom-right{
  margin: 0;
  width:100vw;
  position: relative;
  display: flex;
  overflow: none;
}




@media screen and (min-width: 576px) {
  .main-header__brand {
    padding-right: 0rem;
    position: absolute;
    top:0px;
    left:60px;   
}

  .mobile-nav{
    display: none;
  }

  .toggle-button {
    display: none;
  }

  
  .main-nav {
    display: flex;
    position: absolute;
    top:7px;
    left: 180px;
  }
  .img-mobile {
    display: none;
  }
  
  .img-desktop {
    display: block;
  }

  .section {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }


  .section-top {
    margin: 0;
    width: 100vw;
    height: 528px;
    max-height: 533px;
    display: flex;
    overflow: hidden;
    flex: 0 0 100%;
  }


.section-bottom {
  margin: 0;
  width: 100vw;
  height: 252px;
  max-height: 266px;
  display: flex;
  overflow: hidden;
  flex: 0 0 100%;
  flex-direction: row;

  }


.section-top-image{
  margin: 0;
  width: 58vw;
  height: 100%;
  max-height: none;
  max-width: 840px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.prev,
.next {
  width: 80px;
  height: 80px;
  font-size: 2rem;
  cursor: pointer;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.section-top-description {
  margin: 0;
  width: 35vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: visible;
  flex-wrap: wrap;
  top:0;
  max-height: 533px;
}

.section-top-description-text{
  display: flex;
  flex-direction: column;
  width:80%;
  margin-bottom: 1rem;
  text-align: left;
}


.title {
  vertical-align: middle;
  line-height: 2.2rem;
  text-align: left;
  width: 100%;
  display: flex;
  margin-top: 24%;
  color: var(--black);
  margin-left: var(--margin-left);
}

.text {
  width: 100%;
  display: flex;
  color: var(--dark-gray);
  margin-top: 1.5rem;
  margin-left: var(--margin-left);
  line-height: 1.2rem;
  padding-bottom: 0px;
}

.link{
  width: 100%;
  letter-spacing: 0.2rem;
  margin-top: 1.5rem;
  margin-left: var(--margin-left);
}

.link img{
  padding-left: 1rem;
  fill:var(--dark-gray);
}

.link:hover{
  letter-spacing: 0.5rem;

}

.button-container{
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: flex-start;
}

.button-container-mobile{
  display: none;
}

.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}

.section-bottom-left{
  margin: 0;
  width: 32.65vw;
  max-width: 420px;
  height: 100%;
  max-height: 266px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.section-bottom-left img,
.section-bottom-right img{
  width: 100%;
  max-width: 420px;
  height: 100%;
}

.section-bottom-middle{
  width: 40vw;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.section-bottom-middle-text{
  margin: 4rem 0rem;
  height: 100%;
  padding:0rem 2rem 0rem 3.5rem;
  width: 100%;

  
}

.section-bottom-middle-text h4{
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  padding-bottom: 1rem;
  color: var(--black);
}


.section-bottom-right{
  margin: 0;
  width: 32.65vw;
  max-width: 420px;
  height: 100%;
  max-height: 266px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.text {
  max-width: 45em;
}

}


