@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
/*
=============== 
Variables
===============
*/



:root {
  /* ### Primary*/
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark: hsl(0, 0%, 27%);
  --clr-primary-5: hsl(21, 62%, 45%);
  --clr-primary-6: hsl(21, 57%, 50%);
  --clr-primary-7: hsl(21, 65%, 59%);
  --clr-primary-8: hsl(21, 80%, 74%);
  --clr-primary-9: hsl(21, 94%, 87%);
  --clr-primary-10: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --margin-left: 3.5rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Spartan', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--clr-grey-5);
  font-size: 0.7rem;
}
@media screen and (min-width: 376px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }

}
/*  global classes */

/* section */
.section {
  width: 100vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 100vw;
  }
}




.section-top {
  margin: 0;
  width: 100vw;
  height: 60vh;
  max-height: 533px;
  position: absolute;
  left:0;
  top:0;
  display: flex;
  overflow: hidden;
}
.section-top-image{
  margin: 0;
  width: 60vw;
  height: 100%;
  max-width: 840px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.section-top-description {
  margin: 0;
  width: 40vw;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section-top-description-text{
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
  height: 80%;
  margin-bottom: 1rem;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

article img {
  width: auto;
  height: auto; 
  object-fit: cover;
  border: none;
  height: auto;
  overflow: hidden;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.title {
  vertical-align: middle;
  text-align: left;
  width: 70%;
  display: flex;
  margin-top: 20%;
  color: var(--black);
  margin-left: var(--margin-left);
}

.text {
  width: 70%;
  display: flex;
  color: var(--dark-gray);
  margin-top: 1rem;
  margin-left: var(--margin-left);
}

.link{
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  margin-left: var(--margin-left);
  color: var(--dark-gray);
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
}

.link:hover{
  letter-spacing: 0.7rem;

}



.button-container{
  width: 100%;
  display: flex;
  position: absolute;
  top: calc(100% - 4rem);
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}
.prev,
.next {
  /* position: relative;
  top: calc(100% - 2rem);
  transform: translateY(-50%); */
  background: var(--black);
  color: var(--white);
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  font-weight: lighter;
}
.prev:hover,
.next:hover {
  background: var(--very-dark);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

.prev:focus {
  border: none;
  outline: none;
}
.next:focus {
  border: none;
  outline: none;
}


@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 4rem;
    height: 4rem;
    font-size: 2em;
  }
}

